.Chart {
    position: relative;
    display: grid;

    height: calc(192px + 48 * var(--responsive));
    padding: calc(8px + 8 * var(--responsive));
    margin-bottom: calc(24px + 8 * var(--responsive));

    border-radius: 16px;
    background: white;
    overflow: hidden;
    box-shadow: 0 4px 8px hsla(var(--main-color-raw), 0.08),
    0 1px 2px hsla(var(--main-color-raw), 0.16);

}
