.More {
  display: block;
  float: right;

  height: 40px;
  padding: 0 32px;
  margin: 24px 0;
  border-radius: 8px;

  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  text-align: center;

  color: white;
  background-color: var(--main-color);
}

.More:hover {
  box-shadow: 0px 2px 8px rgba(123, 94, 74, 0.48);
}

@media screen and (max-width: 420px) {
  .Main__more {
    width: 100%;
  }
}
